.header {
  background: $primary-colour-black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  padding: 0 2rem;

  &__title {
    @extend %page-header;
    color: $accent-colour-gold;
  }
}
