.scroll-button {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  bottom: -1rem;
  right: 1.5rem;
  background: lighten($secondary-colour-brown, 5%);
  border: none;
  border-radius: 100%;
  box-shadow: 0 3px 5px 0 rgba($secondary-colour-brown, 0.25);

  @include tablet {
    bottom: 1rem;
  }

  &:hover,
  &:focus {
    outline: none;
    background: $primary-colour-black;
  }

  & .fas {
    font-size: 1.5rem;
    color: lighten($accent-colour-gold, 10%);
  }
}
