// page colours
$primary-colour-black: #2b292b;
$secondary-colour-brown: #403c34;
$accent-colour-gold: #ac8435;
$background-colour-tan: #f7f2e9;

// responsive breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
